<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="min-h-screen w-full p-6 bg-zinc-900 text-zinc-300">
        <h1 class="text-3xl mb-5"><span class="font-light">Hello</span> <%= user.name %></h1>
    </div>
</body>
</html>
